/*!CK:3738820238!*//*1375902370,173205831*/

._26k{margin:80px 30px 0;text-align:center}
._26l{color:#3b5998;font-size:14px;font-weight:bold}
._4kul{word-wrap:break-word}

body._131{background:#e7ebf2}
body._131._6nw{background:#e9eaed}
._131 #contentCol{background:none;padding-top:0}
._131 #contentArea{min-height:200px;padding:0 10px 0 11px;position:relative}
._131 #contentCurve{background-color:transparent;border-bottom:1px solid #c8d1e2}
._131 iframe.SearchPageBingIframe{background:white;border-radius:3px;box-shadow:0 1px 1px 1px #dadfed;margin-top:20px;padding:20px;width:940px}
._adb{border-radius:3px;margin-bottom:16px;padding:12px}
._4c9l{width:560px}
._4b7i{margin-right:1px}
._4_4l{padding:250px 0}
._4_4l > .img{display:block;margin:0 auto}
._1g0r{opacity:.3}
._1g0r:hover{opacity:1}
._5g24{border:1px solid;border-color:#d9d9d9;overflow:hidden;width:398px}
._5g25{color:gray;font-size:12px;line-height:16px;margin:0 8px 6px 10px}
._5g25 a{color:gray;font-size:12px}
._5g26{line-height:16px;margin:8px 8px 0 10px}
._5g26 a{font-size:13px;font-weight:bold}
._5g27{background:none;border-radius:2px;margin-right:10px;margin-top:8px}

.FlyoutSubscriptionMenu{min-width:180px}
.SubscriptionMenu .itemLabel{overflow:hidden}
div.SubscriptionMenu .SubscriptionMenuCategory .itemAnchor{font-weight:normal}
div.FriendListSubscribeSubmenu{padding-top:0;padding-bottom:0}
div.FriendListActionMenu, div.InterestListMenuDisconnect{padding-top:0}
div.InterestListMenuLists{padding-bottom:0}
.addToInterestListsClosed .FriendListSubscribeSubmenu{padding-top:4px}
.addToInterestListsOpen .InterestListCreateList{padding-bottom:4px}
.NonFriendSubscriptionMenu .hideFromNonFriend, .isUnsubscribed .SubscribeMenuSettingsItem, .subscriptionMenuOpen .FriendListActionMenu, .subscriptionMenuOpen .FlyoutFriendListMenu, .subscriptionMenuOpen .InterestListMenuLists, .subscriptionMenuOpen .InterestListMenuDisconnect, .subscriptionMenuOpen .FriendListSubscribeSubmenu, .subscriptionMenuOpen .AddToInterestListsMenuItem, .addToInterestListsClosed.subscriptionMenuOpen .FlyoutFriendListMenu, .addToInterestListsClosed.subscriptionMenuOpen .InterestListMenuLists, .addToInterestListsClosed.subscriptionMenuOpen .InterestListMenuDisconnect, .addToInterestListsClosed.subscriptionMenuOpen .FriendListSubscribeSubmenu, .addToInterestListsClosed.subscriptionMenuOpen .AddToInterestListsMenuItem, .addToInterestListsOpen .FriendListSubscribeSubmenu, .addToInterestListsOpen .AddToInterestListsMenuItem, .addToInterestListsOpen .InterestListMenuDisconnect, .addToInterestListsClosed .InterestListMenuLists, .addToInterestListsClosed .InterestListMenuGoBack, .cannotSubscribe .FriendListSubscribeSubmenu, .noSubscriptionLevels .SubscribeMenuSettingsItem, .noSubscribeCheckbox .SubscribeMenuSubscribeCheckbox, .pagesSubscribeButtonFlyout .SubscribeMenuSubscribeCheckbox, .FriendListSubscriptionsMenu{display:none}
.addToInterestListsOpen .InterestListMenuGoBack, .addToInterestListsOpen .InterestListMenuLists, .addToInterestListsClosed .FriendListSubscribeSubmenu, .addToInterestListsClosed .AddToInterestListsMenuItem, .addToInterestListsClosed .InterestListMenuDisconnect, .subscriptionMenuOpen .FriendListSubscriptionsMenu{display:block}
span.FollowLink .followLinkInlineCheck{display:inline;margin-right:4px}
.followLinkSubscribed{cursor:default}
.friendBrowserCheckboxFilters{width:200px;margin:0 auto;float:left}
.friendBrowserCheckboxFilterHeader{margin-bottom:3px}
.friendBrowserCheckboxFilterTypeahead{margin-top:3px}
.friendBrowserCheckboxFilterTypeahead .friendBrowserSearchInput{width:192px}
.friendBrowserCheckboxContent{width:493px;float:right;position:relative}
.friendBrowserCheckboxContentOnload{opacity:.3}
.friendBrowserSubTitle{margin-top:2px;margin-bottom:15px}
.friendBrowserHeader{margin-bottom:15px}
.friendBrowserPage{width:713px}
.friendBrowserPage label{color:#333;font-weight:normal}
.friendBrowserTypeahead .DOMControl_placeholder{color:#bbb}
.friendBrowsingCheckboxContentLoadingIndicator{position:absolute;z-index:1;top:90px;left:50%}
.friendBrowserGrid{width:100%}
.friendBrowserBlankState{position:relative;text-align:center;top:100px}
.friend_browser_page_name_box{min-height:65px;line-height:15px;text-align:left;width:100px}
.friend_browser_page_name_box.huger{min-height:0;padding-top:5px;margin-right:7px;width:112px}
.friend_browser_addfriend_icon{margin:4px 4px 0 0}
.friendBrowserRequesting .friendBrowserMutualFriendLink, .friendBrowserRequested .friendBrowserMutualFriendLink, .friendBrowserRequesting .friendBrowserSendingMessage, .friendBrowserRequested .friendBrowserUndoLink{display:none}
.friendBrowserRequesting .friendBrowserPicture, .friendBrowserRequested .friendBrowserPicture{opacity:.3}
.friendBrowserExtraSpacing{margin:3px 0}
.friendBrowserPhotoWrapper{height:75px;width:75px}
.friendBrowserPhotoCrop{background:#eee;height:75px;width:75px;overflow:hidden;position:absolute}
div.friendBrowserContentAlignMiddle{height:75px;vertical-align:middle !important}
.friendBrowserMarginTopTiny{margin-top:2px}
.friendBrowserMarginTopMini{margin-top:4px}
.friendBrowserAuxAlignMiddle{margin-top:26px}
.friendBrowserUnit .photoContainer{position:relative}
.friendBrowserUnit .closeButtonContainer{left:80px;position:absolute;top:3px;visibility:hidden}
.friendBrowserUnit .closeButtonContainer.huger{left:94px}
.friendBrowserPicture.huger{height:112px;width:112px}
.friendBrowserUnit .smallButton .closeButtonContainer{top:-3px}
.friendBrowserUnit .horizontalLayout .closeButtonContainer{left:172px}
.friendBrowserUnit:hover .discardable .closeButtonContainer, .friendBrowserUnit .discardable .closeButtonContainer.visibleClose{visibility:visible}
.gridUnitPlaceholder{width:110px}
.localeCustomLayout .friendBrowserUnit{padding:6px 0 2px 0}
.fbProfileLargePortraitImgScaleHeight{height:75px;position:relative}
.fbProfileLargePortraitImgScaleWidth{position:relative;width:75px}
.fbProfileLargePortraitImgSmall{background-position:center 10%}
.fbProfileLargePortraitImgMedium{background-position:center 15%}
.fbProfileLargePortraitImgLarge{background-position:center 20%}
.fbProfileLargePortraitImgHuge{background-position:center 30%}
.sp_70g5pk{background-image:url(/rsrc.php/v2/yX/r/FaKvPGg1mEE.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:13px;width:9px}
.sx_c24333{width:14px;height:14px;background-position:0 -68px}
.sx_cd863a{width:16px;height:16px;background-position:0 0}
.sx_b82928{width:16px;height:16px;background-position:0 -17px}
.sx_e2db97{width:11px;height:10px;background-position:0 -180px}
.sx_8e36cf{width:6px;height:11px;background-position:-6px -168px}
.selected .sx_8e36cf{background-position:0 -168px}
.sx_7e7934{height:11px;background-position:0 -191px}
.sx_f18158{width:12px;height:14px;background-position:0 -83px}
.sx_7a1d9c{width:16px;height:16px;background-position:0 -34px}
.sx_e336ad{width:16px;height:16px;background-position:0 -51px}
.sx_7ae703{width:8px;background-position:0 -154px}
.sx_4b3a43{width:11px;background-position:0 -98px}
.sx_3e4f10{background-position:0 -112px}
.sx_4480db{background-position:0 -126px}
.sx_4ed5f9{background-position:0 -140px}
.sx_e00a00{width:5px;height:7px;background-position:-5px -203px}
.selected .sx_e00a00{background-position:0 -203px}

#bootloader_6T57k { height: 42px; }
.bootloader_6T57k { display:block !important; }