/*!CK:2616095379!*//*1408457510,*/


._5mac{background-color:#f6f7f8;border:1px solid #e9eaed;border-bottom:none;color:#4e5665}._5mac ._5ufe,._5mac ._5uff{border:1px solid #e1e5ef}
html ._5izg{border-bottom:1px solid #e9eaed;display:block;padding:8px 12px}
html ._5izh._5e4h,html ._5izh ._5e4k{border:none;border-radius:4px;height:8px}html ._5izh._5e4h{background-color:#e9eaed}html ._5izh ._5e4k{background-color:#5890ff}
.async_saving ._6tg{display:none}
._bjv{font-size:0;line-height:0}._bjw{padding-top:2px}._bjx{background-color:#5890ff;border-radius:3px}
._5hzi{border-bottom:1px solid #dcdee3;display:block;position:relative}._5hzi:last-child{border-bottom:none}
._53j_{padding-left:1px}
._5itl,._2b1m a{position:relative}._2b1n{height:100%;margin:-12px;position:absolute;width:100%}._5itl:hover,._5itl:focus{background-color:#f6f7f8;outline:0}
._5m6x{padding-bottom:8px;padding-top:8px}._5m6x:hover{background-color:#f6f7f8}._5m6y,._5m6z{display:inline-block;vertical-align:middle}._5m6y{margin:0 18px 0 6px}
._5m6w{margin-top:-1px;overflow:hidden}

#bootloader_oipQq { height: 42px; }
.bootloader_oipQq { display:block !important; }