/*!CK:2282207981!*//*1375705790,178146343*/

.fbHubsTypeaheadThrobber{display:none;position:absolute;right:6px;top:5px}
.typeaheadLoading .fbHubsTypeaheadThrobber{display:block}
._5bar ._5bas{border-top:0}
._59q7{border-top:1px solid #e1e5ef;padding:10px 14px}
._59q7 ._59q8, ._59q7._5daa ._59qa{display:none}
._59q7._5daa ._59q8{display:block}
._59de{border-bottom:1px solid #e1e5ef;color:#6a7480;padding:10px 14px}

._5dsd{background-image:url(/rsrc.php/v2/yX/r/wwa6MsulqLt.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;height:24px;right:14px;top:50%;width:24px}
._5ds4:hover ._5dsd{background-image:url(/rsrc.php/v2/yX/r/wwa6MsulqLt.png);background-repeat:no-repeat;background-size:auto;background-position:0 -25px}
._5ds5 ._5dsd, ._5ds5:hover ._5dsd{background-image:url(/rsrc.php/v2/yX/r/wwa6MsulqLt.png);background-repeat:no-repeat;background-size:auto;background-position:0 -50px}
._5ds7{margin:0;padding:10px 14px}
._5ds8{display:block;min-width:200px}
._5ds9{border-bottom:1px solid #e1e5ef;cursor:pointer;display:block;margin:0;padding:10px 14px}
._5ds9:hover{background:#e6ebf1}
._5ds9 ._5dsa{max-width:260px}
._5ds9 ._5dsb{color:#6a7480;font-size:12px;font-weight:bold}
._6r5{display:inline-block;line-height:22px;width:300px}
html ._6r5, html ._6r5 .wrap{border-color:#adb3bc}
._4kmj .uiSelector{border:1px solid transparent}
._4kmj{position:relative}
._6r5 .wrap{padding-left:20px}
._4iab{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:-278px -10px;height:19px;left:1px;position:absolute;top:2px;width:22px;z-index:2}
._4sj0 ._6r5{line-height:20px;margin-bottom:3px;width:297px}
._4sj0 ._4-k6{width:256px}
._4sj0 .uiSelector{border:0}
._6r5.typeaheadLoading{background:#fff url(/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) no-repeat 275px 5px}
._55bl, ._55bm{border-radius:4px;min-height:8px}
._55bl{background-color:#fff;border:1px solid #e1e5ef;overflow:hidden}
._55bm{background:#4b79c2;background:-moz-linear-gradient(#507ec7, #426eb5);height:100%}
._5c6m{cursor:pointer}
._5anh{margin:0 14px 8px;position:relative;top:-4px}
._5c6n{height:10px;position:relative;right:16px;top:16px;visibility:hidden;width:10px}
._5c6m:hover ._5c6n{visibility:visible}
._5c6o, ._5c6p{position:absolute}
._5c6p{top:-1px}
._5c6o, .collapsedUnit ._5c6p{display:none}
.collapsedUnit ._5c6o{display:block}
._5anj{margin-top:0}
._5anj ._5anh{margin:3px 0 4px;position:static;width:300px}
._5anj ._5ank{margin:4px 0}
.UIIntentionalStreamSearch .highlight,
.UIIntentionalStreamSearch .inserted{color:#000;font-weight:bold;margin:0 0 0 0}
.UIResultSet_MoreLink{display:block;padding-top:4px}
.UIResultSet{padding:0 6px}
.UIResultSet_SuppressBasePadding{padding:0}

.fbDetailedSearchFilterArea{position:relative}
.fbDetailedSearchFilterArea .detailLoadingIndicator{position:absolute;top:0;right:0}
.fbDetailedSearchTypeahead{overflow:hidden}
.detailedsearch_feature_header{background-color:#e9e9e9;border:0;height:7px;margin-bottom:10px;padding:0;text-align:center}
.detailedsearch_feature_header span{background-color:#fff;padding:0 5px;position:relative;top:-4px;color:gray;font-weight:bold}
.detailedsearch_result{padding-bottom:5px;border-bottom:1px solid #e9e9e9}
.detailedsearch_last_result{border-bottom:0 none}
.detailedsearch_actions .detailedseach_action_item{white-space:nowrap}
.searchResultPersonByline .fbProfileBylineFragment{display:block;width:auto}
.searchResultPersonByline .fbProfileBylineIconContainer .fbProfileBylineIcon{margin:0}
.searchResultPersonByline .fbProfileBylineIconContainer{width:11px;margin-right:5px;display:inline-block}
.searchResultPersonByline{width:auto;display:block}
._3nb{height:17px}
._3nc{width:100%}
._3nd{width:50%}
.sp_4abp41{background-image:url(/rsrc.php/v2/y0/r/a_tj3kSETMg.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:17px;width:16px}
.sx_015545{height:16px;background-position:0 -18px}
.sx_96bc49{background-position:0 0}
.sp_6z4un6{background-image:url(/rsrc.php/v2/yh/r/CnmIrNuH-fv.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_5f9605{width:13px;height:13px;background-position:0 -81px}
.sx_050771{width:14px;height:12px;background-position:0 -68px}
.sx_36f1eb{background-position:0 0}
.sx_43b068{background-position:0 -17px}
.sx_b2f43a{width:10px;background-position:0 -34px}
.sx_dd7a95{width:9px;background-position:0 -51px}
.photoTypeahead .photo{display:none;height:16px;left:3px;position:absolute;top:2px;width:16px}
.photoTypeahead .selected .photo{display:block}
.photoTypeahead .selected .textInput{padding-left:23px}
.photoTypeahead.uiTypeaheadDisabled .selected .photo{opacity:.30}

#bootloader_PIdyv { height: 42px; }
.bootloader_PIdyv { display:block !important; }