/*!CK:2283677276!*//*1375831093,173205831*/

._a09{position:absolute;-moz-transform:translateZ(0);width:572px;z-index:1}
._597i{margin-left:199px;width:471px}
._4g5r ._597i{margin-left:108px}
._6nw ._597i{margin-left:62px;width:510px}
._561r ._561v{width:490px}
._a0y{position:absolute;right:10px;top:10px}
._91e{border-bottom:1px solid #e6e6e6;font-size:15px;font-weight:bold;margin-bottom:10px;padding-bottom:10px}
._a0z{display:block;padding:5px}
._a0z:hover{background-color:#ececed}
._a5c{z-index:301 !important}
html ._a5d{background-color:#2c2c2c;color:#fff;-moz-transform:translateZ(0);-moz-user-select:none;z-index:111}
._a5c ._53il ._53io{background-image:url(/rsrc.php/v2/yL/r/QE2UK3xnAVV.png);background-repeat:no-repeat;background-size:auto;background-position:0 -50px;z-index:111}
._5cw7{background:-moz-linear-gradient(#fff, #ebeef4);border-bottom:1px solid #d3d6db;padding:8px 12px 12px}
._5cw8{width:330px}
._5c-f{text-align:center}
._5c-f a{text-decoration:none}

#bootloader_5XroM { height: 42px; }
.bootloader_5XroM { display:block !important; }