/*!CK:2528296448!*//*1375796959,173199639*/

._4_3k{background-image:url(/rsrc.php/v2/yq/r/_IHL0Gu6F0W.png);background-repeat:no-repeat;background-size:auto;background-position:0 -84px;height:12px;position:absolute;right:12px;width:12px}
._4_3k:hover{background-image:url(/rsrc.php/v2/yq/r/_IHL0Gu6F0W.png);background-repeat:no-repeat;background-size:auto;background-position:0 -97px}
._4_3l ._53ij{background:#5890ff;border:0;border-radius:3px;box-shadow:0 1px 4px rgba(0, 0, 0, .3);padding:12px 36px 12px 12px;width:172px}
._4_3j, #pagelet_litestand_section_nav ._4_3j{border:3px solid #5890ff;border-radius:6px}
#pagelet_litestand_section_nav ._4_3j{margin:-3px 0 0 -3px}
#chatFriendsOnline._4_3j{margin:-3px -15px;padding-left:12px;padding-right:12px}
.fbChatSidebar ._4_3j{padding:7px;z-index:12}
._4kdq #pagelet_sidebar ._4_3j{padding:7px 4px;right:150px}
._4_3l ._53io{background-image:none;height:0;width:0}
._4_3l.uiLayer ._53il ._53io{background:transparent;border-bottom:9px solid #5890ff;border-left:9px solid transparent;border-right:9px solid transparent;height:0;width:0}
._4_3l.uiLayer ._53ik ._53io{background:transparent;border-left:9px solid transparent;border-right:9px solid transparent;border-top:9px solid #5890ff;height:0;width:0}
._4_3l.uiLayer ._53in ._53io{background:transparent;border-bottom:9px solid transparent;border-right:9px solid #5890ff;border-top:9px solid transparent;height:0;width:0}
._4_3l.uiLayer ._53im ._53io{background:transparent;border-bottom:9px solid transparent;border-left:9px solid #5890ff;border-top:9px solid transparent;height:0;width:0}
._4_3m{color:#fff;font-size:14px;line-height:18px;text-shadow:0 0 2px rgba(0, 0, 0, .3)}
._55og .presenceIndicator._4_3j{border:none;height:14px;margin-left:1px;padding-left:2px;position:absolute}
._4r38{margin-top:-16px;position:absolute;right:2px;top:50%;z-index:1}
._5ap0 ._4r38, ._4kdq .fbChatSidebar ._4r38{right:147px}
._4r39{background-image:url(/rsrc.php/v2/yq/r/_IHL0Gu6F0W.png);background-repeat:no-repeat;background-size:auto;background-position:-12px 0;display:block;height:12px;width:9px}
._4r38._4trx ._4r39, ._4r38:hover ._4r39{background-image:url(/rsrc.php/v2/yq/r/_IHL0Gu6F0W.png);background-repeat:no-repeat;background-size:auto;background-position:-12px -26px}
._4r38:active ._4r39{background-image:url(/rsrc.php/v2/yq/r/_IHL0Gu6F0W.png);background-repeat:no-repeat;background-size:auto;background-position:-12px -13px}
._5bci ._4r39{background-image:url(/rsrc.php/v2/yq/r/_IHL0Gu6F0W.png);background-repeat:no-repeat;background-size:auto;background-position:0 -71px;height:12px;width:15px}
._5bci ._4r38._4trx ._4r39, ._5bci ._4r38:hover ._4r39, ._5bci ._4r38:active ._4r39{background-image:url(/rsrc.php/v2/yq/r/_IHL0Gu6F0W.png);background-repeat:no-repeat;background-size:auto;background-position:0 -58px}
._5bml._4r38{bottom:0;left:0;margin:0;padding:15px 0;position:absolute;right:0;top:auto}
._5bml ._4r39{left:50%;margin-left:-8px;position:relative}
._57yp.contentAfter .uiScrollableAreaTrack:hover, ._57yp.contentBefore .uiScrollableAreaTrack:hover, ._57yp.contentAfter.uiScrollableAreaTrackOver .uiScrollableAreaTrack, ._57yp.contentBefore.uiScrollableAreaTrackOver .uiScrollableAreaTrack, ._57yp.uiScrollableAreaDragging .uiScrollableAreaTrack{background:rgba(0, 0, 0, .15)}
._57yp .uiScrollableAreaGripper{background:rgba(255, 255, 255, .5);border-color:transparent}
._5383, ._50nn, ._50nm, ._4kdq ._4-q5{display:none}
.fbChatSidebar ._4-q5{background:#31353e;border-bottom:1px solid #292b34;border-top:1px solid #383c45}
.fbChatSidebar ._4-q5:hover{border-bottom-color:#17191e;border-top-color:#2a2d33}
._4-q8{display:inline-block;height:50px;vertical-align:middle}
._511a{overflow:hidden}
.fbChatSidebar ._4-qd.fbFeedTicker .fbFeedTickerStory{display:none;max-height:50px;padding:5px 8px !important;vertical-align:middle;white-space:initial}
._4-qd .tickerMorePager{display:none}
.fbChatSidebar ._4-qd.fbFeedTicker ._4-q6{display:block}
._4-qd .tickerStoryBlock{display:inline-block;max-height:50px;position:relative;vertical-align:middle}
._4-qd .tickerStoryContent{overflow:hidden}
._511b{float:right;height:50px;line-height:50px;padding:0 3px 0 5px}
._4-q9{display:inline-block;vertical-align:middle}
._4-qb{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:-325px -53px;height:9px;width:9px}
._4-qa{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:-131px -76px;height:11px;margin-right:1px;width:7px}
.fbxPhoto .fbPhotoImageStage{width:100%;-moz-user-select:none}
.fbxPhoto .fbPhotoImageStage .stageContainer, .fbxPhoto .fbPhotoImageStage .buttonsContainer{width:100%}
.fbxPhoto .fbPhotoImageStage .fbPhotoPageError{text-align:left}
.fbPhotoImageStage .fbPhotosPhotoButtons .fbPhotosPhotoLike, .fbPhotoImageStage .fbPhotosPhotoButtons .tagButton{margin:6px}
.fbPhotoImageStage .fbPhotosPhotoButtons{bottom:0;color:#333;cursor:default;left:0;position:absolute;right:0;-moz-user-select:none;z-index:2}
.fbPhotoImageStage .imageStage{overflow:hidden;position:relative;width:720px}
.fbPhotoImageStage .fbPhotosPhotoButtons .saveProfilePicMessage, .fbPhotoImageStage .fbPhotosPhotoButtons .tagMessage, .fbPhotoImageStage .fbPhotosPhotoButtons .cropMessage{background-color:rgba(255, 255, 255, .8);color:#333;padding:6px 10px;vertical-align:middle}
.fbPhotoSnowlift.profilePicCroppingMode .profilePicViewportGrabby{z-index:3}
.profilePicSavingMode .profilePicViewportGrabby{display:none}
.fbxPhoto .fbPhotoImageStage .stageContainer{background-color:#f6f6f6;height:453px}
.imageLoading .fbPhotoImageStage .stageContainer{background:#f6f6f6 url(/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat center center}
.fbxPhoto .fbPhotoImageStage .stageWrapper{display:inline-block;position:relative}
.fbxPhoto .fbPhotoImage{display:inline-block;height:auto;image-rendering:optimizeQuality;max-height:720px;max-width:720px;vertical-align:middle;width:auto}
.taggingMode .fbPhotoImage{cursor:crosshair}
.fbPhotoViewLarger{opacity:.5;position:absolute;right:15px;top:15px;z-index:1}
.fbPhotoViewLarger:hover{cursor:pointer;opacity:1}
.fbxPhoto .fbPhotoImageStage .stageTagApproval, .fbxPhoto .fbPhotoImageStage .stageActions{cursor:pointer;height:0;left:0;position:absolute;top:0;width:0}
.fbxPhoto .fbPhotoImageStage .stageTagApproval{cursor:auto;width:100%}
.fbxPhoto .fbPhotoImageStage .stageButtons{position:relative;text-align:center}
.dataLoading .fbPhotoPageInfo .fbPhotoUfiCol *, .dataLoading .fbPhotoPageInfo .fbPhotoDataCol *{display:none}
.taggingMode .fbPhotoTagger{cursor:crosshair}
.fbPhotoTagger{display:block;left:auto;position:absolute;right:auto;text-align:left;top:0;z-index:301}
.fbxPhoto .newTagBox{height:99px;left:auto;position:absolute;right:auto;top:0;width:99px}
.fbPhotoSnowlift.taggingMode .fbPhotosPhotoTagboxes .faceBox .innerTagBox, .fbPhotosPhotoTagboxes .faceBox.active .innerTagBox, .fbPhotosPhotoTagboxes .faceBox.otherActive .innerTagBox{visibility:visible}
.fbPhotoSnowlift .fbPhotosPhotoTagboxes .faceBox .innerTagBox{border:3px solid rgba(255, 255, 255, .25);box-shadow:0 0 2px rgba(0, 0, 0, .25), 0 0 5px rgba(0, 0, 0, .15) inset;border-radius:3px}
.fbPhotoSnowlift .fbPhotosPhotoTagboxes .faceBox.hover .innerTagBox{border-color:rgba(255, 255, 255, .75);box-shadow:0 0 5px rgba(0, 0, 0, .65), 0 0 4px rgba(0, 0, 0, .4) inset}
.fbPhotoSnowlift .fbPhotosPhotoTagboxes .faceBox.active .innerTagBox{border-color:transparent;box-shadow:none}
.fbPhotoSnowlift .fbPhotosPhotoTagboxes .faceBox.active .borderTagBox, .fbPhotoTagger .faceBox{border:3px solid rgba(255, 255, 255, .25);border-radius:3px;box-shadow:0 0 5px rgba(0, 0, 0, .75), 0 0 4px rgba(0, 0, 0, .5) inset;position:relative;visibility:visible}
.fbPhotoSnowlift.taggingMode .fbPhotosPhotoTagboxes .faceBox.active .borderTagBox, .fbPhotoTagger .faceBox{border:3px solid rgba(255, 255, 255, .9)}
.fbPhotoTagger .faceBoxHidden{border:3px solid transparent;box-shadow:none}
.profilePicCroppingMode .fbPhotosPhotoTagboxBase{display:none}
.profilePicCroppingMode .fbPhotoTagger{display:none}
.fbPhotoTagger .typeaheadWrapper{cursor:default;left:50%;position:absolute;top:100%}
.fbPhotoTaggerFlipped .typeaheadWrapper{bottom:100%;top:auto}
.fbPhotoTagger .typeaheadContainer{left:-50%;position:relative;top:4px}
.fbPhotoTaggerFlipped .typeaheadContainer{bottom:4px;top:auto}
.fbPhotoTagger .arrow{background-image:none;height:7px;position:absolute;top:-5px;width:100%;z-index:1}
.fbPhotoTaggerFlipped .arrow{bottom:-5px;top:auto}
.fbPhotoTagger .arrow .nub{background-image:url(/rsrc.php/v2/y6/r/Wk7lE1Bji1R.png);background-repeat:no-repeat;background-size:auto;background-position:-158px -135px;height:7px;left:50%;margin-left:-6px;position:absolute;top:0;width:11px}
.fbPhotoTaggerFlipped .arrow .nub{background-image:url(/rsrc.php/v2/y6/r/Wk7lE1Bji1R.png);background-repeat:no-repeat;background-size:auto;background-position:-146px -135px}
.fbPhotoTagger .typeaheadLabel{display:none}
.fbPhotoTagger .faceboxSuggestion, .fbPhotoTagger .typeaheadBackdrop, .fbPhotoTagger .uiTypeaheadView{background:#fff;border:#333 solid 1px;padding:4px}
.fbPhotoTagger .faceboxSuggestion, .fbPhotoTagger .typeaheadBackdrop{margin-top:6px}
.fbPhotoTagger.suggestionActive .typeaheadBackdrop{display:none}
.fbPhotoTaggerFlipped .typeaheadBackdrop{margin-bottom:6px;margin-top:auto}
.fbPhotoTagger .typeaheadBackdrop.resultsPresent{border-bottom:none}
.fbPhotoTaggerFlipped .typeaheadBackdrop.resultsPresent{border-bottom:none}
.fbPhotoTagger .uiTypeaheadView{border-top:0;left:-5px;margin-top:2px;padding-top:0}
.fbPhotoTaggerFlipped .uiTypeaheadView{bottom:100%;top:auto;padding-bottom:0;padding-top:4px;border-bottom:0;border-top:1px;margin-bottom:2px;margin-top:auto}
.fbPhotoTagger .photoTagTypeahead, .fbPhotoTagger .photoTagTypeahead .wrap{border-color:#ccc}
.fbPhotoTagger .photoTagTokenizer{width:212px}
.fbPhotoTagger .tokenarea{display:none}
.bulkEditTagger{display:block}
.bulkEditTagger .faceBox{border-width:3px;height:52px;width:52px}
.fbPhotoBulkEditor .newTagBox{height:60px;width:60px;z-index:2}
.fbxPhoto .newTagBox .tag{top:105%}
.uiTagTypeaheadView .compact{border-top:0;margin-top:0}
.uiTagTypeaheadView .compact .hintText{cursor:default;height:14px;min-height:0;padding-left:6px}
.uiTagTypeaheadView .compact .userEdText{background-color:#edeff4;border:1px solid #d8dfea;cursor:default;height:30px;margin-bottom:4px;min-height:0;padding-left:6px}
.uiTagTypeaheadView .compact .userEdText .subtext{color:gray;white-space:normal}
.sp_cep6ss{background-image:url(/rsrc.php/v2/yr/r/1rXPWRJtUZH.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:15px}
.sx_5fe236{width:11px;height:11px;background-position:-14px -41px}
.sx_d373ee{width:16px;height:10px;background-position:-16px -13px}
.selected .sx_d373ee{background-position:0 -13px}
.sx_5098f7{width:16px;height:12px;background-position:-16px 0}
.selected .sx_5098f7{background-position:0 0}
.sx_b38a12{background-position:0 -24px}
.sx_303b41{background-position:-16px -24px}
.sx_28937f{width:13px;height:13px;background-position:0 -41px}
.sp_eiamuv{background-image:url(/rsrc.php/v2/yq/r/_IHL0Gu6F0W.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:12px;width:9px}
.sx_4a15d1{width:11px;height:22px;background-position:0 0}
.sx_83e7d7{width:11px;height:22px;background-position:0 -23px}
.sx_ceb73d{width:22px;height:11px;background-position:0 -46px}
.sx_832afd{background-position:-12px 0}
.sx_81ff54{background-position:-12px -13px}
.sx_62580d{background-position:-12px -26px}
.sx_8b8fa7{width:12px;background-position:0 -84px}
.sx_244913{width:12px;background-position:0 -97px}
.sx_af9447{width:15px;background-position:0 -58px}
.sx_738019{width:15px;background-position:0 -71px}
._53ii ._53iv{padding:12px}
._53ii ._53ij{border:0;border-radius:2px;box-shadow:0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35)}
._53ii ._572u{border-color:#d3d6db;margin:0 12px;padding:8px 0}
._53ii ._53il{padding-top:18px}
._53ii ._53im{padding-right:18px}
._53ii ._53ik{padding-bottom:18px}
._53ii ._53in{padding-left:18px}
._53ii ._53il ._53io{background-image:url(/rsrc.php/v2/yq/r/_IHL0Gu6F0W.png);background-repeat:no-repeat;background-size:auto;background-position:0 -46px;height:11px;top:7px;width:22px}
._53ii ._53im ._53io{background-image:url(/rsrc.php/v2/yq/r/_IHL0Gu6F0W.png);background-repeat:no-repeat;background-size:auto;background-position:0 -23px;height:22px;right:7px;width:11px}
._53ii ._53ik ._53io{background-image:url(/rsrc.php/v2/y_/r/BORmTFyvaAB.png);background-repeat:no-repeat;background-size:auto;background-position:-132px -532px;bottom:5px;height:13px;width:22px}
._53ii ._53in ._53io{background-image:url(/rsrc.php/v2/yq/r/_IHL0Gu6F0W.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;height:22px;left:7px;width:11px}
.flashFallbackButton{text-align:center}

#bootloader_uDerc { height: 42px; }
.bootloader_uDerc { display:block !important; }