/*!CK:3764333437!*//*1375705661,173223975*/


div._2as{height:57px;padding:0}
._5fd9{display:none;text-align:center}
._5fd9, ._2ay{padding:16px 0}
._2ay, ._2ay:hover{display:block;padding-left:28px;text-decoration:none}
.async_saving ._5fd9{display:block}
.async_saving ._2ay{display:none}
._6ly{width:613px}
._6ly ._6lz a, ._6ly a._6lz{color:#6a7180}
._57u0 ._6lz a, ._57u0 a._6lz{color:#666}
._6l-{position:relative}
._6l-:after{border:1px solid rgba(0, 0, 0, .15);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
._57u0 ._6ly{width:529px}
._57u0 ._6ly{font-family:'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;font-size:12px;width:529px}
._57u0 ._6ly .fsm{font-size:12px}


._1f84{background:#e2e3e6;border:1px solid;border-color:#d6d7da #d5d8dd #c7c8ca;border-radius:3px;color:#373e4d;font-size:14px;font-weight:200;padding-bottom:8px;padding-left:12px;padding-right:10px;padding-top:8px;text-shadow:0 1px #fff}
._8ru ._521o{margin-bottom:8px}
._1f86{font-weight:normal;padding-bottom:3px}
._5dh8{float:right;font-size:10px}
._1f84 a{color:#373e4d;font-weight:bold}
._8ru ._1f84 ._1f87{display:block;font-size:14px}
._i6m ._8ry, ._i6m ._6kq, ._i6m ._8rz{display:none}
._6l1{display:inline-block}
._6l2{margin-bottom:-4px;position:relative;top:-2px}
._6l1 ._6l2 .uiSelectorButton{background-image:none}
._6l2 .uiSelectorButton:hover{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:right -154px}
._6l2 .uiSelectorOption .itemIcon{display:none}
._6kb{background:#f6f7f8;border-top:1px solid #dee0e3;font-family:Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;font-size:12px;line-height:16px;margin:8px -12px -12px;position:relative}
._57u0 ._6kb{background:#fbfbfb}
._6kq ._6mc{line-height:15px;margin-top:6px}
._4q_ ._6mc{margin-top:10px}
._4vcw ._4q_ ._6mc{margin-top:9px}
._6kv ._6mc{margin-bottom:-4px}
._6mc, ._6kq ._6mc ._cv7, ._6kq ._6mc a{color:#adb2bb}
._57u0 ._6mc, ._57u0 ._6kq ._6mc ._cv7, ._57u0 ._6kq ._6mc a{color:#999}
._6mc ._cv7{display:inline-block}
._6ns{margin:0 0 9px 61px;position:relative}
._4vcw ._6ns{margin-bottom:7px}
._6kq{background:#fff;border-left:1px solid #d3d6db;border-right:1px solid #d3d6db;font-family:'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;padding:8px 12px 12px;position:relative}
._57u0 ._6kq{border-left-color:#e6e6e6;border-right-color:#e6e6e6}
._549j{border-top:1px solid #f3f3f3;margin:0 -12px;padding:8px 12px 0;position:relative}
._8ry{background-image:url(/rsrc.php/v2/ya/r/8EydEHwJ2nT.png);background-repeat:no-repeat;background-size:auto;background-position:0 -5px;height:4px;position:absolute;width:552px;z-index:1}
._8rz{background-image:url(/rsrc.php/v2/ya/r/8EydEHwJ2nT.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;bottom:0;height:4px;position:absolute;width:552px}
._57u0 ._8ry{background-image:url(/rsrc.php/v2/ya/r/8EydEHwJ2nT.png);background-repeat:no-repeat;background-size:auto;background-position:0 -15px;width:468px}
._57u0 ._8rz{background-image:url(/rsrc.php/v2/ya/r/8EydEHwJ2nT.png);background-repeat:no-repeat;background-size:auto;background-position:0 -10px;width:468px}
._6nv{width:526px}
._57u0 ._6nv{width:442px}
._6nl, ._6nm{color:#141823;font-size:14px;font-weight:normal;line-height:18px;max-width:480px}
._5bu2 ._6nl, ._5bu2 ._6nm{max-width:512px}
._57lr ._6nl{max-width:390px}
._6kq ._6nl{outline:none}
._6nm ._42wl{float:left}
._6nl a, ._6ns ._6nm ._50jn a{color:#141823;font-weight:bold}
._57u0 ._6nl, ._57u0 ._6nl a, ._57u0 ._6nm, ._57u0 ._6nm ._50jn a, ._588m ._6nm a.profileLink{color:#333}
._6ns ._6nm a, ._6kq .text_exposed_link a{color:#2e57aa}
._6nm a.profileLink, ._6nm a._58cn{color:#141823;font-weight:bold}
._6nm ._58cn ._58cl{color:#373e4d;font-weight:normal}
._6nm a.weakReference, ._6ns ._6nm ._50jn a.weakReference, ._57u0 ._6nm a.weakReference{color:gray;display:inline-block}
._6nm a.weakReference i{margin-right:3px}
._6np{font-weight:bold}
._6nm{margin-bottom:3px;margin-top:2px;word-wrap:break-word}
._4vcw ._6nm{margin-bottom:0;margin-top:0}
._4q_ ._6nm{margin-bottom:6px}
._4q_ ._57n4, ._4vcw ._4q_ ._6nm{margin-bottom:5px}
._6nm p{margin:6px 0}
._6nm p:first-child{margin-top:0}
._6nm p:last-child{display:inline;margin-bottom:0}
._6kq .text_exposed_root > p:last-of-type{display:inline}
._6kq .text_exposed > p:first-child, ._6kq .text_exposed > p:last-of-type{display:block}
._6kq .text_exposed_hide{display:inline-block;margin-right:4px}
._6kq .text_exposed .text_exposed_hide{display:none}
._6kq .text_exposed_link{font-size:100%;padding:0}
._6kq .text_exposed .text_exposed_show .text_exposed_link{display:inline !important}
._6kq .userContent{display:inline}
._6nl ._52eh{color:#6a7480}
._cv8{display:inline-block}
._cv8 .img{height:10px;margin-top:2px;vertical-align:top;width:10px}
._x_y{background-image:url(/rsrc.php/v2/ya/r/8EydEHwJ2nT.png);background-repeat:no-repeat;background-size:auto;background-position:-26px -20px}
._51l-{margin-bottom:-2px;margin-right:5px}
._5bxn{color:#898f9c;font-size:12px}
._6mi{padding-bottom:5px}
._6mi ._6mk{margin-right:12px}
._6mi ._6mk:after{border:1px solid rgba(0, 0, 0, .08)}
._19hq{display:block;left:-62px;outline:none;position:absolute;top:1px}
._549j ._19hq{top:-1px}
._19hq ._5cpc, ._19hq ._5cpc img{height:56px;width:56px}
._5cp7{background-image:url(/rsrc.php/v2/ya/r/8EydEHwJ2nT.png);background-repeat:no-repeat;background-size:auto;background-position:-59px -35px;height:58px;left:-1px;position:absolute;top:-1px;width:58px}
._57u0 ._5cp7{background-image:url(/rsrc.php/v2/ya/r/8EydEHwJ2nT.png);background-repeat:no-repeat;background-size:auto;background-position:0 -35px}

.fbxWelcomeBox .fbxWelcomeBoxName{padding-bottom:1px}
.fbxWelcomeBoxBlock .fbxWelcomeBoxImg{height:40px !important;width:40px !important}
.fbxWelcomeBoxName{display:block;font-weight:bold;width:112px;word-wrap:break-word}
body .fixedScrolling{position:fixed !important}
body.fixedBody #contentCol{min-height:617px}
body.fixedBody{overflow-x:hidden}
.fixedBody #blueBar,
.fixedBody #leftCol{position:fixed !important}
.fixedBody #blueBar{left:0;right:0}
.fixedBody .hideWhenFixed{display:none}
.home #rightCol .friend_list_right_column_header{height:44px}
._5du8 #sideNav #pinnedNav{margin-top:0}
._5du9{left:130px;position:relative;width:49px}
._5du8 .uiSideNav .item{height:28px;line-height:26px;margin-left:12px;padding:5px 8px 5px 28px}
._5du8 #sideNav .item{background-color:transparent}
._5du8 .uiSideNav .sideNavItem .uiSideNavEditButton{margin-top:7px}
._5du8 .uiSideNav .item .imgWrap{left:2px;position:relative;width:34px}
.uiSideNav ._5dyj .item .imgWrap{left:0}
._5du8 .uiSideNav .sideNavItem .linkWrap{line-height:24px}
._5dua, ._5du9 .uiSideNav .sideNavItem .linkWrap{display:none}
._5du8 .count{background:#fff;border-radius:2px;box-shadow:0 1px 2px rgba(0, 0, 0, .25), 0 0 0 1px rgba(0, 0, 0, .15);color:#6a7180;display:inline-block;font-size:9px;font-weight:500;height:13px;line-height:13px;padding:0 4px}
._5du9 .count{border-radius:6px;color:#333;left:16px;margin-top:-4px;position:absolute;z-index:1}
.uiSideNav .uiLoadingIndicatorAsync{margin-right:-10px;position:relative;right:6px}
._5dub{display:block;left:-2px;position:relative;top:-6px}
._5duc{position:relative}
._5du9 ._5dua{display:block;height:24px;left:2px;position:absolute;top:1px;width:24px}
.sideNavItem ._5dua{left:-20px}
._5du8 .sideNavItem .img{box-shadow:0 1px 1px rgba(0, 0, 0, .25)}
._5dyj.sideNavItem .img{box-shadow:none}
._5dyk .imgWrap:after{background-image:url(/rsrc.php/v2/yw/r/dMdJbyDTN4F.png);content:'';height:24px;left:0;position:absolute;top:0;width:24px}
._5dyk._5dyj .imgWrap:after{left:2px;top:2px}
.profileItemImg{height:16px;width:16px}
div.bookmarksMenuButton .uiCloseButton{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-707px -59px}
div.bookmarksMenuButton .uiCloseButton:hover, div.bookmarksMenuButton .openToggler .uiCloseButton{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-725px -59px}
.uiSideNav ul{display:none}
.uiSideNav .open ul{display:block}
.uiSideNav .forceSubitems ul{display:block}
.uiSideNav .hidden{display:none}
.uiSideNav .item, .uiSideNav .subitem{color:#333;display:block;border-bottom:1px solid #fff;min-height:17px;line-height:13px;padding:3px 8px 0 28px;text-decoration:none}
.Locale_ar_AR .uiSideNav .item, .Locale_ar_AR .uiSideNav .subitem{line-height:14px}
.uiSideNav .subitem{padding-left:37px}
.uiSideNav .item:hover, .uiSideNav .item:active, .uiSideNav .item:focus, .uiSideNav .subitem:hover, .uiSideNav .subitem:active, .uiSideNav .subitem:focus, .uiSideNav .highlighted .item:hover, .uiSideNav ul .highlighted .subitem:hover{background-color:#eff2f7;text-decoration:none}
.uiSideNav .selectedItem .item, .uiSideNav .selectedItem .item:hover, .uiSideNav ul .selectedItem .subitem, .uiSideNav ul .selectedItem .subitem:hover{background-color:#d8dfea;font-weight:bold}
.uiSideNav .highlighted .item, .uiSideNav ul .highlighted .subitem{background-color:#fffbe2;text-decoration:none}
.uiSideNav .item .imgWrap{width:18px}
.uiSideNav .external{padding-right:12px;background:url(/rsrc.php/v2/yW/r/AebrcwrBeG6.png) no-repeat right 3px}
.uiSideNav .item .linkWrap{display:block;max-width:116px;overflow:hidden;padding-left:0;text-overflow:ellipsis;white-space:nowrap}
.uiSideNavCountText{color:gray}
.uiSideNav .item .uiSideNavCountRed{background-color:#f64c4c;color:#fff}
.uiSideNav .uiSideNavCountRedBordered{background:#f03d25;border:solid 1px #c0311e;border-radius:2px;color:#fff;display:inline-block;font-size:9px;margin-top:3px;padding:0 2px 0 3px;position:relative;white-space:nowrap}
.uiSideNav .loading .item, .uiSideNav .sideNavItem .loading .subitem{background-color:#eff2f7;border-color:#eff2f7;border-bottom-color:#fff}
.uiSideNav .loading .subitem{background-color:#fff;border-color:#fff}
.uiFutureSideNav .actionLinks{font-size:9px;font-weight:bold;text-transform:uppercase}
.droppableNav .actionLinks{display:block}
.actionLinks{line-height:12px;padding:4px 0 4px 28px;position:relative}
.uiSideNav .loadingIndicator, .actionLinks .loadingIndicator{background:url(/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) no-repeat 0 0;display:none;height:11px;position:absolute;right:5px;top:5px;width:16px}
.loading .loadingIndicator, .async_saving .loadingIndicator{display:block}
.editMode .loadingIndicator, .loading ul .loadingIndicator{display:none}
.uiSideNav ul .loading .loadingIndicator{top:5px}
.uiSideNav .showSubitems .hiddenSubitem, .uiSideNav .open .navMore{display:block}
.uiSideNav .hiddenSubitem, .uiSideNav .showSubitems .navMore, .uiSideNav .navMore{display:none}
.uiSideNav li .navMore{margin:4px 0 10px 37px}
.uiSideNav .loading .navMore{background-color:transparent}
.uiSideNav .item:hover .buttonWrap .uiCloseButton{visibility:visible}
.editMode .droppableNav .uiCloseButton,
.editMode .droppableNav .item:hover .uiCloseButton{visibility:visible}
.middot{display:none}
.expandedMode .middot{display:inline}
.uiSideNav .mover{display:none;left:-18px;overflow:hidden;position:absolute;text-align:right;top:3px;z-index:2}
.uiSideNav .placeholder{border:2px dashed gray}
.editMode .item{cursor:default;opacity:.5}
.editMode .item:hover{background-color:transparent}
.editMode .sortableItem{cursor:move;opacity:1}
.editMode .sortableItem:hover{background-color:#eff2f7}
.uiSideNav .mover .arrow{position:relative;top:-20px}
.uiSideNav .mover .arrow:active, .uiSideNav .mover .arrow:focus{top:0}
.droppableNav .grip{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-592px -86px;display:none;height:10px;margin-top:2px;width:10px}
.editMode .droppableNav .grip{display:block}
.editMode .uiSideNav .external{background-image:none}
.middot, .navEdit, .navDone{display:none}
.expandedMode .middot, .expandedMode .navEdit, .navEditDone .navEdit, .editMode .navDone{display:inline}
.editMode .draggingMode{opacity:.5}
.editMode .droppableNav .draggingMode{opacity:1}
.editMode .uiSideNav ul{display:none}
.editMode .middot, .editMode .navEdit, .editMode .navLessLink, .editMode .uiSideNav .count, .editMode .uiSideNav .divider, .editMode .uiSideNav .loading .mover, .editMode .uiSideNav .uiCloseButton{display:none !important}
#sideNav #pinnedNav{margin-top:16px}
#sideNav .belowThreshold, #sideNav .homeSideNav .actionLinks, #sideNav #pinnedNav .hideOption{display:none}
#sideNav.editMode .homeSideNav .actionLinks{display:block}
#sideNav .moreSectionsLink{color:#7f93bc;font-size:9px;font-weight:bold}
.navHeader, .navHeader a{color:#999;font-size:9px;font-weight:bold;margin-top:12px}
.navHeader .bookmarksNavSeeAll{color:#6d84b4;white-space:nowrap}
.navHeader .uiLoadingIndicatorAsync{margin-top:-3px}
.editMode .nonDroppableNav{opacity:.5}
.editMode .nonDroppableNav .sortableItem{cursor:default}
.editMode .homeSideNav .bookmarksNavSeeAll, .homeSideNav .bookmarksNavSeeAll{visibility:hidden}
.homeSideNav:hover .bookmarksNavSeeAll, .forceMoreLink .bookmarksNavSeeAll{visibility:visible}
.homeSideNav a:hover{text-decoration:none}
.bookmarksNavSeeAll:hover{text-decoration:underline}
.homeSideNav .loading .bookmarksNavSeeAll{display:none}
.homeSideNav .bookmarksMenuButton ul{display:inline}
.sideNavItem:hover .bookmarksMenuButton .uiCloseButton, .sideNavItem .bookmarksMenuButton a.selected{visibility:visible}
.editMode .homeSideNav .sideNavItem .bookmarksMenuButton .uiCloseButton, .editMode .homeSideNav .sideNavItem:hover .bookmarksMenuButton .uiCloseButton{visibility:hidden}
.droppableNav .rearrange{display:inline}
.nonDroppableNav .rearrange{display:none}
.composerExpandedPhoto #leftCol{padding-top:2px}
.composerExpanded #content .newsFeedComposer{padding-top:5px}
.composerExpanded .newsFeedComposer #rightCol{padding-top:40px}
.composerExpandedPhoto .newsFeedComposer #rightCol{padding-top:38px}
.hasExpandedComposer .home_right_column,
.sidebarMode #content .hasExpandedComposer .home_right_column{margin-top:-12px}
.home #content .hasExpandedComposer .adsOnTop,
.home #content .hasExpandedComposer .stickyAds{margin-top:0}
div.uiComposerWithPhoto .focus_target{padding-left:58px}
div.uiComposerWithPhoto .focus_target .uiComposerMetaContainer{margin-left:2px;margin-top:-2px}
.uiComposerPhoto{position:absolute;top:7px}
div.friendListFeed .uiComposerPhoto{top:13px}
.composerExpandedPhoto .groupJumpLayout .groupComposerCleanWrap{margin-left:-7px;padding-top:7px}
div.uiComposerWithPhoto .focus_target .groupComposerCleanWrap .uiComposerMetaContainer{margin-top:-1px}
.composerExpandedPhoto div.fbExplicitAudienceComposer .focus_target{padding:3px 0 14px 76px}
.uiExpandedComposerWrap{position:relative}
.composerExpandedPhoto .composerLeftNub{background:url(/rsrc.php/v2/ym/r/S816VGiLK0d.gif) no-repeat;height:11px;left:54px;position:absolute;top:37px;width:7px;z-index:2}
.home .friendListFeed .composerLeftNub{top:43px}
.composerExpanded .uiComposerWithPhoto .uiComposerAttachment .nub{display:none}
#pagelet_rhc_ticker{margin-top:-5px}
#pagelet_rhc_ticker .fbFeedTicker{padding-top:5px}
.homeFixedLayout .fbFeedTicker.fixed_elem{background-color:#fff;z-index:2}
.homeFixedLayout #contentCurve{height:0}
div#contentCol.homeFixedLayout{padding-top:5px}
.homeFixedLayout div#contentArea{padding-bottom:20px}
.tickerOnTop #pagelet_rhc_ticker{margin-top:0;margin-bottom:5px}
.adsOnTop .rightColumnWrapper .fixed_scrolling_wrapper,
.tickerOnTop .rightColumnWrapper{width:244px}
.sidebarMode .tickerOnTop #pagelet_rhc_ticker{margin-bottom:0}
.tickerOnTop #pagelet_rhc_ticker .fbFeedTicker{padding-top:0}
.sidebarMode .tickerOnTop #pagelet_reminders .fbReminders{margin:6px 0 12px 0}
.tickerOnTop #pagelet_reminders .fbReminders{margin:8px 0 10px 0}
.tickerOnTop .ticker_container .ticker_stream{margin-top:-1px}
.tickerOnTop .ego_section{margin-bottom:0}
.tickerOnTop .fbFeedTicker .ticker_container:before,
.tickerOnTop .fbFeedTicker .ticker_container:after{background-color:rgba(0, 0, 0, .10) !important;content:"";display:block;height:1px !important;position:absolute;width:100%;z-index:2}
.tickerOnTop .forceThickLine .ticker_container:before,
.tickerOnTop .forceThickLine .ticker_container:after{background-color:transparent !important}
.tickerOnTop .fbFeedTicker .ticker_container:after{bottom:0}
.tickerOnTop .fbFeedTicker .fbTickerFooter{border-top:3px solid #f2f2f2}
div.composerOpen #rightCol{padding-top:40px}
.homeFixedLayout #rightCol{padding-top:56px}
.sidebarMode .hasExpandedComposer .tickerOnTop .fbMomentsTickerToggle, .sidebarMode .hasExpandedComposer .tickerOnTop .fbRemindersThickline{visibility:hidden}
.hasExpandedComposer .stickyAds .fbRemindersThickline, .hasExpandedComposer .stickyAds .fbMomentsTickerToggle, .sidebarMode .home .hasExpandedComposer .stickyAds .fbMomentsTickerToggle, .sidebarMode .home .hasExpandedComposer .stickyAds .fbRemindersThickline{display:block;visibility:visible}
.ticker .home .hasExpandedComposer .home_right_column{margin-top:0}
.home_right_column .fbFeedTicker{border-bottom:1px solid #c1c1c1;box-shadow:0 1px 0 rgba(0, 0, 0, .10)}
.fbFeedTicker{width:244px}
.homeFixedLayout .uiContextualDialogArrowRight{margin-right:3px}
.homeFixedLayout #rightCol .uiSideHeader, #rightCol .tickerHeader{margin-bottom:8px;padding:3px 6px}
.homeFixedLayout #rightCol .uiSideHeader a{color:#6d84b4}
.homeFixedLayout #rightCol .tickerHeader{margin-bottom:0}
.homeFixedLayout #rightCol .tickerHeader a{display:block}
.homeFixedLayout #rightCol .tickerHeader a .img{display:block;padding-top:2px}
.tickerStoryContent{max-width:183px}
.fbFeedTicker.disconnected{opacity:.3}
.fbFeedTicker .fbFeedTickerStory{background:#fff no-repeat 15px 16px;border-bottom:1px solid #fff;border-top:1px solid #e9e9e9;line-height:14px;outline:0;padding:6px 14px 6px 2px;position:relative}
.fbFeedTicker .fbFeedTickerStory.tickerStoryRtl{background-position:212px 16px}
.hidden_rhc_ticker{display:none}
.adsOnTop .fbRemindersThickline, .tickerOnTop .fbRemindersThickline, .adsOnTop .fbMomentsTickerToggle, .tickerOnTop .fbMomentsTickerToggle{display:none}
.adsOnTop div.fbRemindersThicklineForce, .tickerOnTop div.fbRemindersThicklineForce, #pagelet_reminders .displayedTickerToggleWrapper, #pagelet_moments .displayedTickerToggleWrapper{display:block}
.sidebarMode #pagelet_moments .tickerLineToggle, .sidebarMode #pagelet_reminders .tickerLineToggle, .sidebarMode #pagelet_sidebar .tickerLineToggle, .sidebarMode #pagelet_rhc_ticker .tickerLineToggle, .canvasTicker #pagelet_ticker .tickerLineToggle{display:none}
.sidebarMode #pagelet_reminders #fbTickerClosedEd, .sidebarMode #pagelet_current #fbTickerClosedEd, .sidebarMode #pagelet_sidebar #fbTickerClosedEd, .sidebarMode #pagelet_rhc_ticker #fbTickerClosedEd, .canvasTicker #pagelet_ticker #fbTickerClosedEd{display:none}
.tickerToggleWrapper{position:relative}
.tickerLineToggle{display:none}
.displayedTickerToggleWrapper .tickerLineToggle{background-color:#fff;display:inline-block;height:7px;position:absolute;right:6px;top:-6px;width:20px;z-index:3}
.displayedTickerToggleWrapper .tickerLineToggle .tickerLineToggleNormal{padding-left:4px}
.displayedTickerToggleWrapper .tickerLineToggle .tickerLineToggleAsync{padding-left:2px}
.displayedTickerToggleWrapper .async_saving .tickerLineToggleNormal{display:none}
.canHaveFixedElements #fixed_scrolling_container .displayedTickerToggleWrapper, .canHaveFixedElements .fixed_elem .displayedTickerToggleWrapper{margin-top:15px}
.canHaveFixedElements .fixed_elem .toggleWrapperWithoutMargin{margin-top:0 !important}
.fbRemindersThickline, .sidebarMode .fbRemindersThickline{background:#e9e9e9;border-top:1px solid #ccc;display:block;height:1px}
.tickerOnTop .fbFeedHeadThickLineCapable{border-top:1px solid #ccc}
.fbFeedTicker .tickerStoryHidden .tickerStoryBlock{display:none}
.fbFeedTicker .fbFeedTickerStory .tickerStoryImage{margin-right:8px}
.fbFeedTicker .fbFeedTickerStory .tickerFeedMessage, .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h5, .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h6{display:inline;font-size:11px;font-weight:normal}
.fbFeedTicker .fbFeedTickerStory .tickerFeedMessage .wallArrowIcon{background-image:url(/rsrc.php/v2/y6/r/Wk7lE1Bji1R.png);background-repeat:no-repeat;background-size:auto;background-position:-134px -135px;height:9px;width:11px}
.fbFeedTicker .fbFeedTickerStory .actorName, .fbFeedTicker .fbFeedTickerStory .actorDescription{display:inline}
.fbFeedTicker .fbFeedTickerStory .removeStory{float:right;margin-right:-5px}
.fbFeedTicker .fbFeedTickerStory .fbEmuHidePoll{padding-left:5px}
.fbFeedTicker .tickerStoryClickable{cursor:pointer}
.fbFeedTicker .tickerStoryHidden{cursor:auto}
.fbFeedTicker .fbFeedTickerStory .uiStreamPassive, .fbFeedTicker .fbFeedTickerStory .tickerAttachmentBodyText, .fbFeedTicker .tickerStoryClickable a, .fbFeedTicker .tickerStoryClickable .passiveName, .fbFeedTicker .tickerStoryClickable .token{color:#333;outline:0;text-decoration:none}
.fbFeedTicker .tickerStoryActive, .fbFeedTicker .tickerStoryClickable:hover{background-color:#eceff5 !important;border-bottom-color:#eceff5 !important}
.fbFeedTicker .tickerStoryClicked, .fbFeedTicker .tickerStoryClicked:hover, .fbFeedTicker .tickerStorySelected, .fbFeedTicker .tickerStorySelected:hover{background-color:#d8dfea !important;border-color:#a8b2ce !important}
.fbFeedTicker .tickerStoryHidden, .fbFeedTicker .tickerStoryHidden:hover{background-color:#fff !important;border-bottom:1px solid #fff !important;border-top:1px solid #e9e9e9 !important}
.fbFeedTicker .tickerStoryFetching.tickerStoryActive{background-image:url(/rsrc.php/v2/yk/r/LOOn0JtHNzb.gif)}
.fbFeedTicker .tickerStoryFetching.tickerStoryActive .tickerStoryImage{visibility:hidden}
.fbFeedTicker .scrollTopPrompt{background:#e7e9ef url(/rsrc.php/v2/yU/r/n93MoBZD7fU.png) center 3px
no-repeat;box-shadow:rgba(67, 74, 90, .3) 0 1px 0;cursor:pointer;height:10px;position:absolute;width:244px;z-index:1}
.fbFeedTicker .scrollTopPrompt:hover{background-color:#e1e2e9}
.home_right_column .fbFeedTicker .scrollTopPrompt{background:#fbfbfb url(/rsrc.php/v2/yU/r/n93MoBZD7fU.png) center 3px
no-repeat;box-shadow:rgba(0, 0, 0, .15) 0 1px 0}
.home_right_column .fbFeedTicker .scrollTopPrompt:hover{background-color:#f2f2f2;box-shadow:rgba(0, 0, 0, .18) 0 1px 0}
.fbFeedTicker .fbFeedTickerStory .attachmentLink{border-left:2px solid #ccc}
.fbFeedTicker .attachmentPhotoOuter{width:54px;height:34px;border:1px solid #ccc;padding:2px;float:left;margin-left:3px}
.fbFeedTicker .attachmentPhotoOuter:first-child{margin-left:0}
.fbFeedTicker .tickerPhotoAttachment{display:none;overflow:hidden}
div.fbFeedTicker .tickerStoryClickable .uiTooltipWrap{display:none}
.fbFeedTicker .attachmentPhotoInner{overflow:hidden;width:54px;height:34px}
.fbFeedTicker .attachmentPhoto{width:54px}
.fbFeedTicker .highlightedStory{background-color:#fff9d7 !important;border-color:#e2c822 !important;padding:10px 5px;text-align:center}
.fbFeedTicker .noTimestamps .ticker_timestamp{display:none}
.fbFeedTicker .tickerSpamMenu{padding-left:5px;background:transparent !important}
.fbFeedTicker .uiStreamInlineReplaceList{margin-left:15px;margin-top:5px}
.tickerNUXDialog{margin-top:50px}
.fbFeedTicker .fbFeedTickerStory.tickerNuxStory{background-color:#f4f4f4;border-bottom-color:silver;border-top-color:#ccc;box-shadow:rgba(0, 0, 0, .1) 0 1px 0;margin:-2px 0 -15px 0;padding:8px 8px 8px 10px;z-index:10}
.tickerInlineOverlay{background-color:#fff;border:1px solid #ccc;border-color:rgba(0, 0, 0, .2);border-radius:2px;border-right:none;box-shadow:5px 0 10px 10px #eceff5;color:#6d84b4;display:none;height:17px;margin-top:-12px;padding:3px 10px 0 6px;position:absolute;right:0;top:50%}
.fbFeedTicker .tickerStoryActive .tickerInlineOverlay{display:block}
.fbFeedTicker .tickerStorySelected .tickerInlineOverlay{box-shadow:5px 0 10px 10px #d8dfea}
.tickerInlineOverlay:hover{border-color:#7489b6;border-color:rgba(59, 89, 152, .55)}
.tickerInlineOverlay:active{background-color:#f9fafc;background-color:rgba(249, 250, 252, .9);border-color:rgba(59, 89, 152, .5)}
.tickerInlineOverlayDisabled{background-color:#fff !important;border-color:rgba(0, 0, 0, .2) !important}
.tickerActionBottomButton{display:none !important}
.tickerActionExpandableButton{margin-top:-9px;position:absolute;right:7px;top:50%}
.tickerActionExpandableButton .tickerActionButtonLink{background-color:#f8f8f8;background-image:-moz-linear-gradient(bottom, #f0f0f0, #fff);box-shadow:0 1px 0 rgba(0, 0, 0, .10);height:16px;padding:3px 0 1px 20px;width:0}
.tickerStoryClicked .tickerActionExpandableButton .tickerActionButtonLink{background-color:#fff;background-image:-moz-linear-gradient(bottom, #fff, #f0f0f0)}
.tickerActionExpandableButton .tickerActionVerb{color:#3b5998;display:none;font-weight:bold}
.fbFeedTickerStory:hover .tickerActionExpandableButton .tickerActionButtonLink, .tickerStoryActive .tickerActionExpandableButton .tickerActionButtonLink{width:auto}
.tickerStoryActive .tickerActionExpandableButton .tickerActionVerb, .fbFeedTickerStory:hover .tickerActionExpandableButton .tickerActionVerb{display:inline}
.tickerActionExpandableButton .tickerActionIcon{position:absolute;left:6px;top:6px}
.tickerActionButtonLink{background-color:#fff;border:1px solid #96a2c4;border-radius:3px;display:block}
.tickerActionButtonLink .tickerActionVerb{padding-right:4px}
.fbFeedTicker .tickerStoryWithIcon{padding-right:18px !important}
.fbFeedTicker .tickerStoryWithButton{padding-right:33px !important}
.fbFeedTickerStory .tickerVisitIcon{display:none;margin-top:-3px;opacity:.7;position:absolute;right:7px;top:50%}
.fbFeedTickerStory:hover .tickerVisitIcon{display:block}
.tickerMusicButtonImg{background-image:url(/rsrc.php/v2/yw/r/6rfwdE4-r03.png);background-repeat:no-repeat;background-size:auto;background-position:-24px -528px;height:11px;width:9px}
.tickerNewsButtonImg{background-image:url(/rsrc.php/v2/yw/r/6rfwdE4-r03.png);background-repeat:no-repeat;background-size:auto;background-position:-12px -528px;height:11px;width:11px}
.tickerVideoButtonImg{background-image:url(/rsrc.php/v2/yw/r/6rfwdE4-r03.png);background-repeat:no-repeat;background-size:auto;background-position:0 -528px;height:11px;width:11px}
.tickerActionButtonImg{background-image:url(/rsrc.php/v2/yw/r/6rfwdE4-r03.png);background-repeat:no-repeat;background-size:auto;background-position:0 -540px;height:10px;width:10px}
.tickerActionExpandableButton img.tickerGameButtonImg{background-image:url(/rsrc.php/v2/yw/r/6rfwdE4-r03.png);background-repeat:no-repeat;background-size:auto;background-position:-17px -510px;height:14px;width:11px;top:5px}
#fbTickerClosedEd{border-bottom:1px #ccc dashed}
.fbFlyoutDialog.tickerStoryOverlayOnTop{z-index:300}
.homeWiderContent div#rightCol .home_right_column{width:244px}
div#contentCol.homeWiderContent,
.homeWiderContent #bottomContent{padding-left:0;padding-right:0}
.homeWiderContent div#rightCol{padding-right:0}
.hasLeftCol .homeWiderContent div#contentArea{padding-left:18px;padding-right:25px;width:511px}
div.homeWiderContent .megaphone_box{margin-left:-18px;margin-top:-5px}
.contextualBlind{background-color:#fff;opacity:.8;position:absolute;z-index:110}
.contextualBlindContext{background-color:#fff;opacity:0;position:absolute;z-index:110}
.contextualBlind.contextualBlindDark, .contextualBlindContext.contextualBlindContextDark{background-color:#000;z-index:301}

._3ozo{background:#e9eaed;padding:14px 0 11px;position:relative;z-index:2}
._4vcw ._3ozo{padding-bottom:9px}
._53az ._3ozo{padding-bottom:11px;z-index:auto}
._53az ._53ax{z-index:1}
._3o-0{background:url(/rsrc.php/v2/yL/r/ZHnGu4K_0EG.png);bottom:-3px;height:3px;left:1px;opacity:0;position:absolute;right:1px;-moz-transition:opacity .1s linear}
._3ozm ._3o-0{opacity:.6}
._3ozo ._3o-1{bottom:-3px;margin:0;position:absolute}
._53az ._3ozo ._3o-1{top:auto}
._6cy #pageFooter{padding-left:12px;padding-right:324px;width:auto}
._49nu{left:-9999px;position:absolute}
._4_wa > div{margin-top:0}
._3ozu{background:#f6f7f8;border:1px solid #d7d8d9;border-radius:4px;overflow:hidden;width:300px}
._3ozu.animating{-moz-transition:height .3s}
._3ozk{height:36px}
._3ozu.animating ._3ozl{-moz-transition:margin-top .3s}
._7gb{box-shadow:0 1px rgba(255, 255, 255, .8) inset;display:block}
._7gb, ._3ozj._7gb:hover{border-top:1px solid #e9eaed}
._3ozv{position:relative}
._7gb:hover{background:#f2f5f5;border-top:1px solid #ebeded;box-shadow:none;text-decoration:none}
._3ozj ._18q_{color:#4e5665}
._3ozu ._7gb:first-child{border-top:0}
._c9j{left:12px;margin-top:-8px;position:absolute;top:50%;width:16px}
._3ozu ._3ozj{background:#fff;font-weight:bold}
._18q_{color:#6a7180;font-size:14px;line-height:36px;padding:0 25px 0 36px;text-shadow:#fff 0 1px}
._3ozj ._18q_{color:#4e5665}
._3ozq{background:#c5c8cf;border-radius:16px;box-shadow:inset 0 1px 1px rgba(0, 0, 0, .1), 0 1px 1px #fff;color:#fff;float:right;font-size:11px;font-weight:bold;height:16px;line-height:16px;margin:10px 16px 8px 0;min-width:10px;padding:1px 6px 0;text-align:center;text-shadow:0 1px 1px rgba(0, 0, 0, .2)}
._54m5._7gb{background:#eff0f1;border-top:1px solid #e6e8ea;box-shadow:none}
._54m6._7gb{background:#f6f7f8;border-top:1px solid #e9eaed;box-shadow:0 1px rgba(255, 255, 255, .8) inset;-moz-transition:background .8s, border-top .8s, -moz-box-shadow .8s}
._54m5 ._3ozq{background:#5890ff}
._54m6 ._3ozq{background:#c5c8cf;-moz-transition:background .8s}
._3ozj ._3ozq{display:none}
._3ozw{opacity:0;-moz-transition:opacity .15s}
._3ozk ._3ozj ._3ozw{background-image:url(/rsrc.php/v2/y5/r/Gsn1XfXoWc8.png);background-repeat:no-repeat;background-size:auto;background-position:-289px -23px;height:15px;margin-top:-8px;opacity:1;position:absolute;right:10px;top:50%;width:11px}
._3ozk._54m7 ._3ozj ._3ozw{display:none}
._3ozp{display:block;padding:100px;text-align:center}
._5fho{background:#fff;border:1px solid #d7d8d9}
._50ac{padding:8px 0}
._50ac ._c9j{display:block;margin:0 auto;position:static}
._50ac ._18q_{display:none}
._58p6{float:right;margin-right:8px;margin-top:14px}
._58p7{cursor:move;float:right;margin-right:10px;margin-top:15px}
._59b-{height:200px;width:540px}
._59b_{background-image:url(/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif);background-repeat:no-repeat;background-size:auto;background-position:0 0;height:32px;left:50%;margin:-16px 0 0 -16px;position:absolute;top:50%;width:32px}
html ._4g5r .fbChatSidebar, ._5ap0, ._56h3{font-family:'Helvetica Neue', Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;font-weight:500}
._59j-, ._5ap0, ._4g5r .fbChatSidebar{-moz-transform:translateZ(0)}
html .safari ._50d1{-moz-transform:translateZ(0)}
.safari._4g5r ._50d2, .safari ._5ap0:hover, .safari._4g5r .fbChatSidebar:hover{-moz-transform:none}
div._4_w9{padding:0 0 1px 1px;width:613px}
div._59u-{width:926px}
._52v9{color:#232b37}
._6c3{font-family:Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif}
._6c3, ._6b-{position:relative;width:302px}
._5eo4 ._6b-{padding-top:15px}
._53e- ._6b-{-moz-transform:translateZ(0)}
._53az ._53a-{background:#e9eaed;padding-top:11px;position:relative;top:-11px}
._6b-._4-kl{-moz-transition:all .3s !important}
._6di{background:#fff;border-left:1px solid #d3d6db;border-right:1px solid #d3d6db;position:relative;z-index:0}
._53a_{border-bottom:1px solid #d7d8d9;border-radius:4px;height:5px;position:absolute;top:-6px;width:302px}
._4_8c{min-height:216px}
._6dj, ._6dl{height:4px;position:relative;width:302px}
._6dj{background-image:url(/rsrc.php/v2/y5/r/Gsn1XfXoWc8.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;margin:-1px 0 -3px;z-index:1}
._53az ._6dj{position:absolute;top:11px;z-index:auto}
._6dl{background-image:url(/rsrc.php/v2/y5/r/Gsn1XfXoWc8.png);background-repeat:no-repeat;background-size:auto;background-position:0 -5px;top:-2px}
._4--n{padding:0 12px}
._6c3 .title a{color:#232b37}
._6c3 ._6dm a{color:#898f9c}
._6dn, ._6dn ._6do a, ._6c3 .uiHeaderTop .uiHeaderTitle, ._6c3 .uiHeader.uiSideHeader, ._6c3 .uiHeader.uiSideHeader a, ._6c3 .uiHeader.uiSideHeader h6, ._6c3 .uiHeader.uiSideHeader .uiHeaderActions, ._6c3 .uiHeader.uiSideHeader .adsCategoryTitleLink{color:#898f9c;font-size:11px;line-height:12px}
._6do{margin-top:-1px}
._6c3 .uiHeader, ._6c3 .uiHeader.uiSideHeader{background:none;border-top:none;padding:12px 0 10px}
._6dn, ._6di .uiHeader, ._6di .uiHeader.uiSideHeader{border-top:1px solid #e9eaed;margin:0 -12px;padding:12px 12px 10px}
._6c3 .uiCloseButton, ._6c3 .uiSelector .uiCloseButton{margin-right:-11px}
._4n5:first-child ._4oa8 .uiHeader, ._4n5:first-child ._6dn, ._4n5:first-child .ego_column:first-child .uiHeader.uiSideHeader{border:0}
._4n5:first-child .home_right_column .ego_column .uiHeader.uiSideHeader{border-top:1px solid #e9eaed}
._5b1k{position:relative;top:-14px}
._5b1k ._6c3{padding-top:14px}
._6dp, ._6c3 .uiHeaderTop .uiHeaderTitle, ._6c3 .uiHeader.uiSideHeader h6{font-weight:bold;text-transform:uppercase}
._6bv{bottom:0;position:absolute;right:0}
._502f .rhcFooterBorder{display:none}
._502f .rhcFooterWrap{margin-top:-24px;padding:10px 0 10px 8px}
._502f .rhcFooterWrap, ._502f .rhcFooterWrap a{color:#898f9c;text-shadow:0 1px #fff}
._502f .rhcFooterCopyright{padding:0}
.sp_6cazcb{background-image:url(/rsrc.php/v2/y5/r/Gsn1XfXoWc8.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_ed89cb{width:11px;height:15px;background-position:-289px -23px}
.sx_0f2caa{width:12px;height:12px;background-position:-13px -10px}
.selected .sx_0f2caa{background-position:0 -10px}
.sx_b944c7{width:12px;height:12px;background-position:-39px -10px}
.selected .sx_b944c7{background-position:-26px -10px}
.sx_29445e{width:12px;height:12px;background-position:-65px -10px}
.selected .sx_29445e{background-position:-52px -10px}
.sx_72131a{width:12px;height:12px;background-position:-91px -10px}
.selected .sx_72131a{background-position:-78px -10px}
.sx_731970{background-position:-272px -23px}
.sx_fd76c3{background-position:-255px -23px}
.sx_83d1a0{background-position:-238px -23px}
.sx_5bfb76{background-position:-221px -23px}
.sx_6fb2d5{background-position:-204px -23px}
.sx_2b5161{background-position:-187px -23px}
.sx_f7b859{background-position:-170px -23px}
.sx_4bc255{background-position:-153px -23px}
.sx_fb0396{background-position:-136px -23px}
.sx_a07aa2{background-position:0 -40px}
.sx_783c7c{width:15px;height:8px;background-position:-17px -40px}
.sx_bac587{background-position:-119px -23px}
.sx_b693b2{background-position:-102px -23px}
.sx_4e107f{background-position:-85px -23px}
.sx_c95521{background-position:-68px -23px}
.sx_8d7515{background-position:-51px -23px}
.sx_18ba20{background-position:-34px -23px}
.sx_27f662{background-position:-17px -23px}
.sx_fceb22{background-position:0 -23px}
.sx_aead3e{width:5px;height:4px;background-position:-142px -10px}
.sx_886407{width:302px;height:4px;background-position:0 -5px}
.sx_bd94a6{width:302px;height:4px;background-position:0 0}
.sx_03ca82{width:9px;height:8px;background-position:-113px -10px}
.selected .sx_03ca82{background-position:-104px -10px}
.sx_826c7d{width:9px;height:7px;background-position:-132px -10px}
.selected .sx_826c7d{background-position:-123px -10px}
.sp_stjrhu{background-image:url(/rsrc.php/v2/yp/r/IAGPCPXQz9v.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_09c317{background-position:0 -510px}
.sx_dffdaf{background-position:0 -493px}
.sx_d3a1ff{background-position:0 -476px}
.sx_9fcec1{background-position:0 -459px}
.sx_882b1f{background-position:0 -442px}
.sx_c74e1e{background-position:0 -425px}
.sx_c27b1c{background-position:0 -408px}
.sx_82c84a{background-position:0 -391px}
.sx_322fad{background-position:0 -374px}
.sx_3fff2f{background-position:0 -357px}
.sx_d64471{background-position:0 -340px}
.sx_6fcd95{background-position:0 -323px}
.sx_2f07ad{background-position:0 -306px}
.sx_f30471{background-position:0 -289px}
.sx_acd826{background-position:0 -272px}
.sx_8a5d8f{background-position:0 -527px}
.sx_106b27{background-position:0 -238px}
.sx_e7fd0d{background-position:0 -221px}
.sx_cd658f{background-position:0 -204px}
.sx_b1132a{background-position:0 -187px}
.sx_a1a05c{background-position:0 -170px}
.sx_3ba0a7{background-position:0 -153px}
.sx_ab3f18{background-position:0 -136px}
.sx_7f4a42{background-position:0 -119px}
.sx_138856{background-position:0 -102px}
.sx_cb00b6{background-position:0 -85px}
.sx_174744{background-position:0 -68px}
.sx_722a65{background-position:0 -51px}
.sx_9192a2{background-position:0 -34px}
.sx_eff7f1{background-position:0 -17px}
.sx_13ff88{background-position:0 0}
.sx_7c854d{background-position:0 -255px}
.uiStreamStoryAttachmentOnly .storyContent{margin-bottom:0}
.uiStreamStoryAttachmentOnly .storyContent{margin-left:-18px}
.homeWiderContent .uiStreamStoryAttachmentOnly .uiStreamSubstory .storyContent{margin-left:0}
.uiStreamStoryAttachmentOnly .uiStreamAttachments{margin:0}
.uiStream .uiStreamHeader{background-color:#e9e9e9;border-top:1px solid #ccc;height:1px;margin:20px 0 5px -18px;padding:0;position:relative}
.hasExpandedComposer .uiStream .uiStreamHeader{border-top:0;margin-top:10px}
.uiStream .uiStreamHeader .uiStreamHeaderChronologicalForm, .uiStream .uiStreamHeader .uiStreamHeaderText{background-color:#fff;left:0;padding-right:2px;position:absolute}
.uiStream .uiStreamHeader .uiStreamHeaderText{color:gray;margin-left:68px;top:-6px}
.uiStream .uiStreamHeader .uiStreamHeaderChronologicalForm{left:auto;right:35px;top:-6px}
.uiStreamHeaderChronologicalForm .sortLink{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:right -20px;color:gray;font-size:9px;font-weight:bold;margin:0 2px;padding:0 9px 2px 3px}
.selectedStoryIndicator{background-color:#ccc;display:none;left:0;top:0;position:absolute;height:100%;width:3px}
.selectedStorySimple .selectedStoryIndicator{display:block}
#pagelet_composer .selectedStoryIndicator{left:-18px;padding-bottom:19px;top:-14px}
li.selectedStorySimple,
div.selectedStorySimple{position:relative}
.uiStream .uiStreamStory .uiStreamSubstory .uiLikePageButton{margin:0 0 6px 15px}
.uiStream .uiStreamStory .uiStreamSubstory .substoryUnderEdgeStoryLineWithLabel{margin-top:-11px}
.uiStream .uiStreamSubstories .uiLikePageButton{position:static}
.uiStream .uiStreamStory .uiStreamSubstory .uiLikePage{margin:1px 0 5px 15px}
.uiLikePage a{color:#6b84b4}
.uiLikePage .saving_elem,
.uiLikePage .async_saving .action_elem{display:none}
.uiLikePage .async_saving .saving_elem{display:inline}
.uiStream .uiStreamSubstories .uiLikePage{position:static}
.UIIntentionalStream_Error{display:none;padding-top:2px;padding-bottom:8px}
.UIIntentionalStream_HiddenInfo{float:right}
.UIIntentionalStream_AutoUpdate{margin:5px}
.UIIntentionalStream_AutoUpdateMessage,
.UIIntentionalStream_AutoUpdateControl{float:right}
._4bl7{float:left;min-height:1px}
._4bl8{float:right}
._4bl9{overflow:hidden}
._4bl7, ._4bl9{word-wrap:break-word}
._4bmm{padding:0 10px 0 11px;width:926px}
._4_vt{margin:14px 0}
._4k2o{width:614px}
._4_vu ._4k2o{width:482px}
._4bmn{margin-left:10px;width:302px}
._4bmp{margin-left:10px;width:122px}
.uiContextualLayerAboveLeft ._558b, .uiContextualLayerAboveRight ._558b{margin:0 0 -1px}
.uiContextualLayerBelowLeft ._558b, .uiContextualLayerBelowRight ._558b{margin:-1px 0 30px}
._558b ._54ng{background-clip:padding-box;background-color:#fff;border:1px solid rgba(0, 0, 0, .15);border-radius:3px;box-shadow:0 3px 8px rgba(0, 0, 0, .3)}
.uiContextualLayerAboveLeft ._558b ._54ng, .uiContextualLayerAboveRight ._575s._558b ._54ng{border-bottom-left-radius:0}
.uiContextualLayerAboveRight ._558b ._54ng, .uiContextualLayerAboveLeft ._575s._558b ._54ng{border-bottom-right-radius:0}
.uiContextualLayerBelowLeft ._558b ._54ng, .uiContextualLayerBelowRight ._575s._558b ._54ng{border-top-left-radius:0}
.uiContextualLayerBelowRight ._558b ._54ng, .uiContextualLayerBelowLeft ._575s._558b ._54ng{border-top-right-radius:0}
._558b ._54nf{padding:5px 0}
._558b ._54ak{border-bottom:1px solid #e9eaed;margin:5px 7px 6px;padding-top:1px}
._558b ._54nc{border:solid #fff;border-width:1px 0;color:#141823;font-family:'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;font-size:12px;font-weight:normal;line-height:22px;padding:0 12px}
._558b ._5arm ._54nc{cursor:default;opacity:.55}
._558b ._54ne ._54nc{background-color:#42599e;border-color:#30497a;color:#fff}
._558b ._54nd ._54nc{background:url(/rsrc.php/v2/y9/r/6NgdP4PZyfY.png) left 7px no-repeat;font-weight:bold}
._558b ._54nd._54ne ._54nc{background-color:#42599e;background-position:left -53px}
._558b._57di ._54nc{padding-left:22px}
._558b ._54ah{color:#6a7180}
._558b ._54nh{max-width:300px}
._4__a._6nw, ._4__a._6nw #contentCol{background:#e9eaed}
body._4__a #globalContainer{width:947px}
body._4__a #content{margin-bottom:30px}
._4__a #mainContainer{margin-left:0}
._4__a #contentArea{margin-right:0}
._4__a #contentCurve{height:0}
._4__a #blueBarHolder #blueBar{min-width:947px}
._4__a #blueBarHolder #blueBar #pageHead, ._4__a ._50c9 ._6i1{padding-left:1px;width:926px}
._4__a.hasSmurfbar .smurfbarJewelsLeft #headNav > .rfloat{min-width:314px;position:relative}
._505o{position:relative}
._505o > button{background-color:transparent;border:0;bottom:0;height:27px;position:absolute;text-indent:-10000px}
._505n{left:0;width:56px}
._505m{left:56px;width:32px}
.uiCollapsedList .visible{margin-right:10px}
.uiCollapsedListHidden .showAll{list-style-type:none}
.uiCollapsedListVisible .showAll,
.uiCollapsedListHidden .hiddenItem{display:none}
.uiCollapsedListNoSeparate .visible{margin-right:3px}
.uiCollapsedListVisible .visible,
.uiCollapsedListMiddot .visible{margin-right:0}
.uiSideNav .loading .uiLoadingIndicatorAsync, .uiFutureSideNav .loading .uiLoadingIndicatorAsync{display:inline}
.editMode .uiSideNav .loading .uiLoadingIndicatorAsync, .uiSideNav .loading ul .uiLoadingIndicatorAsync{display:none}
.uiSideNav .uiLoadingIndicatorAsync{position:relative;top:2px}
.uiSideNav .buttonWrap{clear:left;float:left;height:20px;text-align:right;width:20px}
.uiSideNav .sideNavItem{padding-right:20px;margin-left:-20px;width:100%}
.uiSideNav .drag{margin-left:0}
.uiSideNav .item, .uiSideNav .subitem{margin-left:20px;margin-right:-20px;-moz-user-select:none}
.uiSideNav .sideNavItem .imgWrap{margin-left:-22px;margin-top:-1px;float:left}
.uiSideNav .sideNavItem .linkWrap{display:block;overflow:hidden;padding-left:0;text-overflow:ellipsis;white-space:nowrap}
.uiSideNav .sideNavItem .hasCount{max-width:110px}
.uiSideNav .sideNavItem .noCount{max-width:145px}
.uiSideNav .sideNavItem .subitem .hasCount{max-width:90px}
.uiSideNav .sideNavItem .subitem .noCount{max-width:125px}
.uiSideNav .loading .noCount{max-width:127px}
.uiSideNav .sideNavItem .uiSideNavEditButton{margin:2px 5px 0 0;text-align:left}
.uiSideNav .sideNavItem .uiCloseButton{opacity:0}
.uiSideNav .sideNavItem .uiCloseButton:focus, .uiSideNav .sideNavItem:hover .uiCloseButton, .uiSideNav .sideNavItem .openToggler .uiCloseButton{opacity:1}
.uiNarrowSideNav .uiSideNav .sideNavItem:hover .buttonWrap, .uiNarrowSideNav .uiSideNav .hover .buttonWrap, .uiNarrowSideNav .uiSideNav .editMenuOpened .buttonWrap{display:block;padding-right:4px;width:25px}
.uiNarrowSideNav .uiSideNav .buttonWrap, .uiNarrowSideNav .uiSideNav .sideNavItem:hover .item .rfloat, .uiNarrowSideNav .uiSideNav .hover .item .rfloat, .uiNarrowSideNav .uiSideNav .editMenuOpened .item .rfloat{display:none}
.uiNarrowSideNav .uiSideNav .buttonWrap{float:right;margin-right:-2px;width:0}
.uiNarrowSideNav .sideNavItem{padding-right:0;margin-left:0}
.uiNarrowSideNav .sideNavItem .item, .uiNarrowSideNav .sideNavItem .subitem{margin-left:0;margin-right:0}

#bootloader__a5fi { height: 42px; }
.bootloader__a5fi { display:block !important; }