/*1373986487,178142511*/

._4ei{position:relative;text-align:right}
._4ej{border-bottom-style:dashed}
._4ek{border-top-style:none;max-height:250px;overflow-y:auto}
._4el, .inlineEditMode .fbPhotosPhotoCaption, .inlineEditMode .fbPhotoTagList{display:none}
.inlineEditMode ._4el{display:block}
._54-w{background-color:#e2e8f6;border:solid #bdc7d8;border-width:1px;padding:3px 2px 1px 3px}
._54-x{height:17px;padding-right:3px}
._4eh .uiMentionsInput{max-height:100px;overflow-x:hidden;overflow-y:auto}
._4eh .uiMentionsInput textarea{-moz-box-sizing:border-box;min-height:50px}
.inlineEditMode .fbPhotoSnowliftAuthorInfo, .inlineEditMode .fbPhotoPagesTagList, .inlineEditMode .fbPhotoLegacyTagList, .inlineEditMode .fbPhotosPhotoOwnerButtons, .inlineEditMode .fbPhotosOnProfile{display:none}
#inlineEditorSave{margin-bottom:3px}
._5bw- ._4eh .fbPhotosAudience a{margin-top:-2px}

#bootloader_8OVaC { height: 42px; }