@font-face {
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  src: local('Patrick Hand'), local('PatrickHand-Regular'), url(https://fonts.gstatic.com/s/patrickhand/v10/9BG3JJgt_HlF3NpEUehL0Bampu5_7CjHW5spxoeN3Vs.woff2) format('woff2'), url(https://fonts.gstatic.com/s/patrickhand/v10/9BG3JJgt_HlF3NpEUehL0KRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
