/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
    font-family: "Coca Cola ii";
    src: url("../img/cocacolaii.eot?") format("eot"), url("../img/cocacolaii.woff") format("woff"), url("../img/cocacolaii.ttf") format("truetype"), url("../img/cocacolaii.svg#CocaColaii") format("svg");
    font-weight: normal;
    font-style: normal;
}
